.message {
  margin: 15px;
  font-size: 15px;
}

.lounge-item-wrap {
  margin-bottom: 16px;
  display: flex;
}

.lounge-link {
  text-decoration: none;
}

.lounge-item {
  font-size: 1.25rem;
  height: 30vh;
  min-height: 300px;
  width: 50vw;
  min-width: 500px;
  max-width: 800px;
  background-image: linear-gradient(141deg, #A5D2DA 0%, rgba(205, 245, 245, 0.8) 80%, #A5D2DA 100%);
  text-align: left;
  color: gray;
  border-radius: 15px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.lounge-item:hover {
  color: #FF9AA2;
}

.lounge-item-main_name {
  padding: 10px 20px;
  font-size: 30px;
}

.lounge-item-main_contents {
  display: flex;
}

.lounge-item-main_content {
  padding: 10px 20px;
  font-size: 20px;
  width: 40%;
}

.lounge-item-sidebar {
  margin: auto 0;
}

.sidebar-icon-wrap {
  color: gray;
  margin: 17px;
  text-align: center;
}

.sidebar-icon-wrap:hover {
  color: gold;
}

.sidebar-icon {
  font-size: 50px;

}

.no-decoration {
  text-decoration: none !important;
  color: inherit !important;
}

.copied-message {
  position: absolute;
  background-color: #FF9AA2;
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  white-space: nowrap;
}