/* styles.css */
/* 既存のヘッダーに関するCSSを置き換える */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, #A5D2DA 0%, #7fb6c3 50%, #A5D2DA 100%);
  padding: 0 30px;
  height: 60px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

.header-logo {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.header-logo:hover {
  color: gold;
}

.nav-buttons {
  display: flex;
  align-items: center;
}

.nav-btn {
  text-decoration: none;
  margin-left: 20px;
  color: #FFFFFF;
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.nav-btn:hover {
  color: gold;
}