* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  justify-content: space-between;
  background-color: #A5D2DA;
}

.bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.IceClasher-icon {
  width: 15vw;
  margin-right: 15vw;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  line-height: 32px;
  color: #333333;
}