<%= render "shared/second-header"%>
  <div class="container">
    <div class="form-title">ラウンジ作成</div>
    <form action="ここに適切なRailsのエンドポイントを追加してください" method="post">
      <div class="input-group">
        ラウンジ名
        <span class="indispensable">必須</span>
      </div>
      <input type="text" name="name" placeholder="アイスラウンジ" required>
      <div class="input-group">
        パスワード
        <span class="indispensable">必須</span>
      </div>
      <input type="password" name="password" placeholder="パスワード (8桁の数字)" pattern="[0-9]{8}" required>
      <input type="submit" value="ラウンジを作成">
    </form>
  </div>