<%= form_with(url: lounge_password_check_path(@louge.id), method: "post", local: true) do |form| %>
  <% if flash[:alert] %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>
  <div class="form-group">
    <div class='input-group'>
      <label id="password" class="form-text">ラウンジ名</label>
      <span class="indispensable">必須</span>
    </div>
    <%= form.password_field :password, id:"password", class:"input-form", placeholder:"共有された あいことば" %>
  </div>
  <div class='btn-space'>
    <%= f.submit "入室" ,class:"red-btn" %>
  </div>
<% end %>